.cabecera__login{
    justify-content: space-evenly;
}
.cabecera__volverAtras{
    color: var(--lavender);
    font-family: var(--work);
    font-size: 1.2rem;
    text-decoration: none;
}
.cabecera__volverAtras:hover{
    font-weight: 600;
    text-decoration: underline;
}
.session__registrar-link{
    font-family: var(--work);
    font-size: 1.2rem;
    text-align: center;
}
.registrar__link{
    border: 2px solid var(--indigo);
    color: var(--indigo);
    padding: 1rem;
    transition: 0.5s;
    text-decoration: none;
}
.registrar__link:hover{
    transition: 0.5s;
    background: var(--indigo);
    color: var(--lavender);
}

